<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merve.neredeyiyelim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ne yesem ki?"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.LoginStyle">
        <activity android:name=".KullaniciLogin"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CafeGiris" />
        <activity android:name=".KayitOlCafe" />
        <activity android:name=".CafeAnaSayfa" />
        <activity android:name=".KayitOlUser" />
        <activity android:name=".UserAnasayfa"></activity>
    </application>

</manifest>